div.classh
{
    margin: 4px 0px 4px 16px;
}

div.class
{
    border: 1px solid #333333;
    background-color: #aed7f7;
    display: inline-block;
    padding: 2px 6px 2px 6px;
    color: black;
    border-bottom-left-radius: 6px;
    // border-top-right-radius: 6px;
    -webkit-box-shadow: 3px 3px 12px 4px #c6c6c6;
    box-shadow: 3px 3px 12px 4px #c6c6c6;
}

div.class.root
{
    // border-top-left-radius: 6px;
}

div.class.leaf
{
    border-bottom-right-radius: 6px;
}

.class span.package
{
    font-size: 12px;
    color: #333333;
}

@media print
{
    body, .side-bar
    {
        background-color: #ffffff;
    }
}


code
{
    font-size: 1em;
    // background-color: rgba(0,0,0,.05);
}

h1 code, h2 code, h3 code
{
    background-color: inherit;
    border: none;
}

table code, pre code
{
    background-color: inherit;
    border: none;
}